{% extends "base_generic.html" %}

{% block title %}Placas Madres{% endblock %}

{% block content %}

    <body style="background-color: #f8f8f8;">

        <section class="jumbotron text-center"><style>
                                                    section{
                                                        background-image: url("/static/fotos/bannerProductos.jpg");
                                                    }
                                               </style>
            
            <div class="container-fluid">
                <h1 style="font-size: 6vw; color: white;">Placas Madres</h1>                       
            </div>
        </section>

        <!--Seguimiento-->
        <div id="seguimiento" class="container">
            <div class="col-md-5">
                <ol class="breadcrumb breadcrumb-extend">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Placas Madres</li>
                </ol>
            </div>
        </div>

        
        <div class="album py-5">
            <div class="container" >
                <div class="row">                  
                {% for placa in num_producto %}
                    <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="producto" src="{{ placa.imagen.url }}">
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>Marca:</b> {{ placa.marca }} <br> 
                                        <b>Modelo:</b> {{ placa.modelo }} <br>
                                        <b>Formato:</b> {{ placa.formato }} <br>
                                        <b>Plataforma:</b> {{ placa.plataforma}} <br>
                                    </p>
                                    <h3>${{ placa.precio }}</h3>
                                    <div class="d-flex justify-content-between aling-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                        </div>
                                        <small class="text-muted ml-2">stock:<b>{{ placa.stock }}</b></small>
                                    </div>

                                </div>
                            </div>
                    </div>

                {% endfor %}

                </div>
            </div>
        </div>
    </body>
{% endblock %}

