@font-face{
    font-family: fuente8bits;
    src: url(Sabo-Filled.ttf);
}

nav{
    
    font-family: fuente8bits;
    font-size: 14px;
    white-space: nowrap;
}

footer div{
    font-size: 20px;
    text-align: center;
    padding: 40px;
    background-color: #6c6c6c;
    font-family: fuente8bits; 
    color: white;
  }
